.HeadRow {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #000066
}
.Title {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 24pt; 
	font-style: normal; 
	line-height: 20pt; 
	font-weight: bold; 
	color: #990033
}
.SubTitle {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 20pt; 
	font-style: normal; 
	line-height: 16pt; 
	font-weight: bold; 
	color: #000000
}
.data {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: 11pt; font-weight: lighter; color: #990033}
.Note {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-style: italic; 
	line-height: 16pt; 
	font-weight: normal;
	color: #808080
}
body {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	margin-top: 10px; 
	margin-right: 50px; 
	margin-bottom: 10px; 
	margin-left: 50px;
	bgcolor: #ffeeee;}
	
div {
	margin-top: 20px; 
	margin-bottom: 20px; 
}

a:hover { color: #CC0000 }
a:active { color: #000066 }
a:visited { color: #008800;}

h1,h2,h3,h4,h5,h6 {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
    color: #990033;
    background: none;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #808080;
}
h1 {
	font-size: 24pt;
}
h2 {
	font-size: 20pt;
}
h3 {
	font-size: 16pt;
}
h4 {
	font-size: 12pt;
}
h5 {
	font-size: 10pt;
}
h6 {
	font-size: 8pt;
	font-style: italic;
}
p {
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    color: Black;
    background: none;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}
td {
	margin: 10px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.Warning { font-family: Papyrus;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 8pt;
	background-color: #EEEEFF ;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	color: #FF0000;
}

ul {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    color: Black;
    background: none;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}

hr {
    height: 1px;
    color: #0000aa;
    background-color: #ffffff;
    border: 0;
    margin: 0.2em 0 0.2em 0;
}
.colheading {color:#ffd000; font-style:bold;}
.index {color:#402030; font-style:bold; font-size:8pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.project {background-color:#705090; color:#ffeedd;  font-size:10pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.pName {background-color:#505050; color:#a08020; font-size:8pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.detail {color:#000000; font-size:12pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.state {color:#000000; font-size:12pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.per {color:#000080; font-size:12pt; font-style:italic; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.work {color:#008080; font-size:12pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.flash {color:#ff0000; font-size:12pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.copy {color:#008080; font-size:12pt; font-style: Italic; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.notes {  color: #999999}
.boldtitles { color:#000000; font-size:10pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.ProjectTitles { color:#ffff00; font-size:10pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.ProjectHeadings { color:#000000; font-size:8pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif; font-weight: bold}
.jobtitle { font-family: Arial, Helvetica, sans-serif; font-size: small; font-weight: bold; color: #006600 }
.smalltext {  font-size: 8pt}
.redText {  font-size: 8pt; color:#ff0000}
.amberText{ font-size: 8pt; color:#e0c000}
.greenText {  font-size: 8pt; color:#00a000}
.blueText {  font-size: 8pt; color:#0000a0}
.blackText {  font-size: 8pt; color:#000000}
.whiteText {  font-size: 8pt; color:#ffffff}
.smalltextItal { color:#000080; font-size: 8pt ; font-style: italic}
.smalldetail {color:#000000; font-size:6pt; font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;}
